@page
@model TaskingBoss.Pages.ProjectView.Backlog.IndexModel
@{
    ViewData["Title"] = "Backlog";
    Layout = "_ProjectViewLayout";
}

<div class="w-100 text-center">

    <h3>@ViewData["Title"] <span class="small">(@Model.BacklogTasksWithUsers.Count tasks)</span></h3>
    <hr />

</div>

@foreach (var task in Model.BacklogTasksWithUsers)
{
    <partial name="_BacklogCard" model="task" />
}