@page
@using TaskingBoss.Core
@model TaskingBoss.Pages.ProjectView.Backlog.IndexModel
@{
    Layout = "_ProjectViewLayout";
}

<div class="w-100 text-center">

    <h3>Backlog - @Model.BacklogTasks.Count tasks</h3>
    <a class="btn btn-outline-success btn-sm" asp-page="/Tasks/Edit" asp-route-projectId="@Model.Project.ProjectId">Create new task</a>
    <hr />

</div>

@foreach (var task in Model.BacklogTasks)
{
    <partial name="_BacklogCard" model="task" />
}