<div class="text-center" style="width:30px;
                                            height: 30px;
                                            border-radius: 50%;
                                            display: inline-block;
                                            padding-top: 2px;
                                            background-color: #dedede">
    <span class="text-dark">+</span>
</div>

