@using TaskingBoss.Areas.Identity.Data
@model ApplicationUser

<div class="bg-dark text-center" style="width:30px;
                                            height: 30px;
                                            border-radius: 50%;
                                            display: inline-block;
                                            padding-top: 2px;">
    <span class="text-light small">@Model.Abbreviation</span>
</div>

