@page
@model TaskingBoss.Pages.ProjectView.MyTasks.IndexModel
@{
    ViewData["Title"] = "My Tasks";
    Layout = "_ProjectViewLayout";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb px-3 py-2">
        <li class="breadcrumb-item"><a asp-page="/Projects/List">Projects</a></li>
        <li class="breadcrumb-item"><a asp-page="/ProjectView/Index" asp-route-projectId="@Model.Project.ProjectId">This project</a></li>
        <li class="breadcrumb-item active" aria-current="page">My Tasks</li>
    </ol>
</nav>

<div class="w-100 text-center">

    <h3>@ViewData["Title"]</h3>
    <hr />

</div>

@if (Model.DoingTasks.Count != 0)
{
    <div class="row w-100">
        <h5 class="mt-4 ml-2">Doing</h5>

        @foreach (var task in Model.DoingTasks)
        {
            <partial name="_TaskCard" model="task" />
        }
    </div>
}

@if (Model.BlockedTasks.Count != 0)
{
    <div class="row w-100">
        <h5 class="mt-4 ml-2">Blocked by you</h5>

        @foreach (var task in Model.BlockedTasks)
        {
            <partial name="_TaskCard" model="task" />
        }
    </div>
}

@if (Model.SprintTasks.Count != 0)
{
    <div class="row w-100">
        <h5 class="mt-4 ml-2">Sprint</h5>

        @foreach (var task in Model.SprintTasks)
        {
            <partial name="_TaskCard" model="task" />
        }
    </div>
}