@page
@model TaskingBoss.Pages.Tasks.ListModel
@{
    ViewData["Title"] = "All tasks";
}

<h1>Tasks</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm"/>
            <span class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </span>
        </div>

    </div>
</form>

@foreach (var task in Model.Tasks)
{
    <partial name="_Summery" model="task" />
}

<a asp-page="./Edit" class="btn btn-outline-primary">Add new task</a>

@section footer
{
    <div>Section footer text</div>
}
